In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/sca-programming-school/datasets/main/sales_advertising.csv')

In [3]:
df.head()

       tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0  437.086107  227.135984     149.687216        1099.406439   7753.504975
1  955.642876  263.046047     145.524769        1544.144191  11683.762317
2  758.794548  434.546327     112.930487        1212.800205   8910.744929
3  638.792636  203.001974     250.521225         349.944650   3339.284889
4  240.416776  441.342358     157.564771         534.044426   4361.964031

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tv_ads             4985 non-null   float64
 1   radio_ads          4982 non-null   float64
 2   newspaper_ads      4977 non-null   float64
 3   digital_marketing  4974 non-null   float64
 4   sales              4982 non-null   float64
dtypes: float64(5)
memory usage: 195.4 KB

In [5]:
df.describe()

,tv_ads,radio_ads,newspaper_ads,digital_marketing,sales
count,4985.000000,4982.000000,4977.000000,4974.000000,4982.000000
mean,553.657446,271.148836,165.331063,1114.553668,7758.601336
std,309.177632,128.558088,78.497351,518.141180,2788.705500
min,100.010471,50.023772,30.042591,200.454418,1043.825466
25%,321.262698,161.161510,96.729169,674.282712,5483.593562
50%,550.361031,268.687208,163.928071,1124.985865,7836.046852
75%,774.432493,380.026295,235.335541,1552.196991,9986.817587
max,6735.856228,499.777335,299.947389,1999.864688,14322.724102

In [6]:
df['tv_ads'] = df['tv_ads'].fillna(df['tv_ads'].median())
df['radio_ads'] = df['radio_ads'].fillna(df['radio_ads'].median())
df['newspaper_ads'] = df['newspaper_ads'].fillna(df['newspaper_ads'].median())
df['digital_marketing'] = df['digital_marketing'].fillna(df['digital_marketing'].median())
df = df.dropna(subset=['sales'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4982 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tv_ads             4982 non-null   float64
 1   radio_ads          4982 non-null   float64
 2   newspaper_ads      4982 non-null   float64
 3   digital_marketing  4982 non-null   float64
 4   sales              4982 non-null   float64
dtypes: float64(5)
memory usage: 233.5 KB

In [7]:
tv_Q1 = df['tv_ads'].quantile(0.25)
tv_Q3 = df['tv_ads'].quantile(0.75)
tv_IQR = tv_Q3 - tv_Q1
tv_con1 = tv_Q1 - 1.5 * tv_IQR <= df['tv_ads']
tv_con2 = df['tv_ads'] <= tv_Q3 + 1.5 * tv_IQR
df[tv_con1 & tv_con2]

          tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0     437.086107  227.135984     149.687216        1099.406439   7753.504975
1     955.642876  263.046047     145.524769        1544.144191  11683.762317
2     758.794548  434.546327     112.930487        1212.800205   8910.744929
3     638.792636  203.001974     250.521225         349.944650   3339.284889
4     240.416776  441.342358     157.564771         534.044426   4361.964031
...          ...         ...            ...                ...           ...
4995  907.657586  435.945195     262.044100        1778.669532  12793.656019
4996  207.442910  453.878976      79.268609         284.265123   2311.313673
4997  395.058554  476.018562     136.824642         746.657244   5719.825106
4998  834.170843  228.869597     181.636363         997.976012   8708.734959
4999  637.581140  147.713182     195.470948         510.076666   5057.364687

[4975 rows x 5 columns]

In [8]:
radio_Q1 = df['radio_ads'].quantile(0.25)
radio_Q3 = df['radio_ads'].quantile(0.75)
radio_IQR = radio_Q3 - radio_Q1
radio_con1 = radio_Q1 - 1.5 * radio_IQR <= df['radio_ads']
radio_con2 = df['radio_ads'] <= radio_Q3 + 1.5 * radio_IQR
df[radio_con1 & radio_con2]

          tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0     437.086107  227.135984     149.687216        1099.406439   7753.504975
1     955.642876  263.046047     145.524769        1544.144191  11683.762317
2     758.794548  434.546327     112.930487        1212.800205   8910.744929
3     638.792636  203.001974     250.521225         349.944650   3339.284889
4     240.416776  441.342358     157.564771         534.044426   4361.964031
...          ...         ...            ...                ...           ...
4995  907.657586  435.945195     262.044100        1778.669532  12793.656019
4996  207.442910  453.878976      79.268609         284.265123   2311.313673
4997  395.058554  476.018562     136.824642         746.657244   5719.825106
4998  834.170843  228.869597     181.636363         997.976012   8708.734959
4999  637.581140  147.713182     195.470948         510.076666   5057.364687

[4982 rows x 5 columns]

In [9]:
newspaper_Q1 = df['newspaper_ads'].quantile(0.25)
newspaper_Q3 = df['newspaper_ads'].quantile(0.75)
newspaper_IQR = newspaper_Q3 - newspaper_Q1
newspaper_con1 = newspaper_Q1 - 1.5 * newspaper_IQR <= df['newspaper_ads']
newspaper_con2 = df['newspaper_ads'] <= newspaper_Q3 + 1.5 * newspaper_IQR
df[newspaper_con1 & newspaper_con2]

          tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0     437.086107  227.135984     149.687216        1099.406439   7753.504975
1     955.642876  263.046047     145.524769        1544.144191  11683.762317
2     758.794548  434.546327     112.930487        1212.800205   8910.744929
3     638.792636  203.001974     250.521225         349.944650   3339.284889
4     240.416776  441.342358     157.564771         534.044426   4361.964031
...          ...         ...            ...                ...           ...
4995  907.657586  435.945195     262.044100        1778.669532  12793.656019
4996  207.442910  453.878976      79.268609         284.265123   2311.313673
4997  395.058554  476.018562     136.824642         746.657244   5719.825106
4998  834.170843  228.869597     181.636363         997.976012   8708.734959
4999  637.581140  147.713182     195.470948         510.076666   5057.364687

[4982 rows x 5 columns]

In [10]:
digital_Q1 = df['digital_marketing'].quantile(0.25)
digital_Q3 = df['digital_marketing'].quantile(0.75)
digital_IQR = digital_Q3 - digital_Q1
digital_con1 = digital_Q1 - 1.5 * digital_IQR <= df['digital_marketing']
digital_con2 = df['digital_marketing'] <= digital_Q3 + 1.5 * digital_IQR
df[digital_con1 & digital_con2]

          tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0     437.086107  227.135984     149.687216        1099.406439   7753.504975
1     955.642876  263.046047     145.524769        1544.144191  11683.762317
2     758.794548  434.546327     112.930487        1212.800205   8910.744929
3     638.792636  203.001974     250.521225         349.944650   3339.284889
4     240.416776  441.342358     157.564771         534.044426   4361.964031
...          ...         ...            ...                ...           ...
4995  907.657586  435.945195     262.044100        1778.669532  12793.656019
4996  207.442910  453.878976      79.268609         284.265123   2311.313673
4997  395.058554  476.018562     136.824642         746.657244   5719.825106
4998  834.170843  228.869597     181.636363         997.976012   8708.734959
4999  637.581140  147.713182     195.470948         510.076666   5057.364687

[4982 rows x 5 columns]

In [11]:
sales_Q1 = df['sales'].quantile(0.25)
sales_Q3 = df['sales'].quantile(0.75)
sales_IQR = sales_Q3 - sales_Q1
sales_con1 = sales_Q1 - 1.5 * sales_IQR <= df['sales']
sales_con2 = df['sales'] <= sales_Q3 + 1.5 * sales_IQR
df[sales_con1 & sales_con2]

          tv_ads   radio_ads  newspaper_ads  digital_marketing         sales
0     437.086107  227.135984     149.687216        1099.406439   7753.504975
1     955.642876  263.046047     145.524769        1544.144191  11683.762317
2     758.794548  434.546327     112.930487        1212.800205   8910.744929
3     638.792636  203.001974     250.521225         349.944650   3339.284889
4     240.416776  441.342358     157.564771         534.044426   4361.964031
...          ...         ...            ...                ...           ...
4995  907.657586  435.945195     262.044100        1778.669532  12793.656019
4996  207.442910  453.878976      79.268609         284.265123   2311.313673
4997  395.058554  476.018562     136.824642         746.657244   5719.825106
4998  834.170843  228.869597     181.636363         997.976012   8708.734959
4999  637.581140  147.713182     195.470948         510.076666   5057.364687

[4982 rows x 5 columns]

In [12]:
df_clean = df[tv_con1 & tv_con2]
x = df_clean[['tv_ads', 'radio_ads', 'newspaper_ads', 'digital_marketing']]
y = df_clean['sales']
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                 3.196e+04
Date:                Tue, 23 Jul 2024   Prob (F-statistic):               0.00
Time:                        11:25:26   Log-Likelihood:                -38355.
No. Observations:                4975   AIC:                         7.672e+04
Df Residuals:                    4970   BIC:                         7.675e+04
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -9.3874     33.248     -0.282      0.778     -74.568      55.793
tv_ads                2.9879      0.029    101.684      0.000       2.930       3.046
radio_ads             2.0377      0.060     34.154      0.000       1.921       2.155
newspaper_ads        -0.0645      0.098     -0.659      0.510      -0.256       0.127
digital_marketing     5.0115      0.015    338.309      0.000       4.983       5.041
==============================================================================
Omnibus:                      644.950   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6662.624
Skew:                          -0.220   Prob(JB):                         0.00
Kurtosis:                       8.652   Cond. No.                     5.94e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.94e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
tv_mean = df_clean['tv_ads'].mean()
radio_mean = df_clean['radio_ads'].mean()
digital_mean = df_clean['digital_marketing'].mean()
total = tv_mean + radio_mean + digital_mean
test_data = pd.DataFrame({
    'tv_ads': [tv_mean, total, 0, 0, 0, 0],
    'radio_ads': [radio_mean, 0, total, 0, 0, 0],
    'newspaper_ads': [0, 0, 0, total, 0, 0],
    'digital_marketing': [digital_mean, 0, 0, 0, total, 0]
})
test_data

        tv_ads    radio_ads  newspaper_ads  digital_marketing
0   547.740411   271.087793       0.000000        1115.330430
1  1934.158635     0.000000       0.000000           0.000000
2     0.000000  1934.158635       0.000000           0.000000
3     0.000000     0.000000    1934.158635           0.000000
4     0.000000     0.000000       0.000000        1934.158635
5     0.000000     0.000000       0.000000           0.000000

In [14]:
test_data = sm.add_constant(test_data)
model.predict(test_data)

0    7769.149144
1    5769.712399
2    3931.910931
3    -134.061073
4    9683.739373
5      -9.387388
dtype: float64